<!-- C:\Users\LENOVO\Desktop\projet_santé_admin\projet_santé_admin\templates\login.html -->
{% extends "base.html" %}

{% block content %}
<div class="login-container">
    <div class="login-shape shape-1"></div>
    <div class="login-shape shape-2"></div>
    
    <div class="login-box animate-float">
        <div class="login-header">
            <h2>Connexion Administrateur</h2>
            <p>Système de gestion des médecins et patients</p>
        </div>
        
        <form method="POST" action="{{ url_for('login') }}" class="login-form">
            <div class="form-group">
                <label for="username">Nom d'utilisateur</label>
                <input type="text" id="username" name="username" required class="input-field">
                <div class="input-underline"></div>
            </div>
            
            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" id="password" name="password" required class="input-field">
                <div class="input-underline"></div>
            </div>
            
            <button type="submit" class="btn-login">Se connecter</button>
        </form>
        
        <div class="login-footer">
            <img src="{{ url_for('static', filename='images/pexels-pixabay-40568.jpg') }}" alt="Logo Ministère" class="ministre-logo">
            <p>Santé ++</p>
        </div>
    </div>
</div>
{% endblock %}